/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    color: aliceblue;
    border-radius: 5px;
    border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.banner-greting{
    font-size: 45px;
}
.banner-mary{
    font-size: 85px;
    font-weight: bold;
}
.banner-image{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 180px;
}
.banner-content{
    max-width: 580px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-size: 35;
    font-weight: bold;
}
.about-items{
    display: flex;

    justify-content: space-around;
}